/**
External CSS Stylesheet
 **/

body {
    padding: 20px;
    margin: 0;
    line-height: 100%;
    color: #333;
    background: #efeee7;
}

header {
    color: #777;
    background: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-color: #ccc;
    border-style: solid;     
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #eee;
    background-color: #4aaaa5;
    text-align: center;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
}

h3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
    margin: 0 auto;
}


#main-bio {
    float: left;
    width: 650px;
    background: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    padding: 10px;
}

#contact-info {
    float: right;
    width: 270px;
    background: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
}

#bio-image {
    width: 200px;
    height: 200px;
}

.port-image {
    float: left;
    padding: 20px;
}

footer {
    background-color: #666;
    margin-bottom: -50px;
    padding: 10px;
    border-top-style: solid;
    border-color: #4aaaa5;
    clear: both;
}